body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    -webkit-tap-highlight-color: transparent; /* 移除 Safari 點擊高亮 */
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}